<div class="app-wrapper">
    <div class="search-wrapper">
        <div class="searchbar-box">
            <div class="icon-wrapper">
                <div class="searchbar-back"></div>
            </div>
            <div class="input-wrapper">
                <div class="searchbar-search"></div>
                <div class="input-text">
                    输入您想入住的区域或小区
                </div>
            </div>
        </div>
    </div>
    <div class="filter-wrapper">
            <div class="filterbar-wrapper">
            <ul class="filterbar-box">
                <li class="filterbar-text">
                    <span class="active-text">合租</span>
                    <div class="filterbar-panle-icon"></div>
                </li>
                <li class="filterbar-text">
                    <span class="">合租</span>
                    <div class="filterbar-panle-icon"></div>
                </li>
                <li class="filterbar-text">
                    <span class="">合租</span>
                    <div class="filterbar-panle-icon"></div>
                </li>
                <li class="filterbar-text">
                    <span class="">合租</span>
                    <div class="filterbar-panle-icon"></div>
                </li>
                <li class="filterbar-text">
                    <div class="filterbar-panle-icon"></div>
                </li>
            </ul>
            <div class="rapid-wrapper">
                <div class="rapid-list">
                    <div class="active-tag">
                        <img src="https://image.ziroom.com/g2m1/M00/42/74/ChAFBlvW2MyAT-8EAAAhGkFxCa0551.png" alt="" class="full-img-tag">
                    </div>
                    <div class="pd20"><img src="https://image.ziroom.com/g2m1/M00/85/95/ChAFBlvugreAdUurAAAIJIioF8Q667.png" alt="" class="icon-tag"><span>租事大吉</span></div>
                    <div class="pd20"><span>空气质量已检测</span></div>
                    <div class="pd20"><span>非首次出租</span></div>
                    <div class="pd20"><span></span></div>
                    <div class="pd20"><span></span></div>
                </div>
            </div>
        </div>
    </div>  
    <div class="main-wrapper">
        <div class="house-wrapper">
            <div class="scroll-content">
               <ul></ul>
            </div>
        </div>
    </div>  
</div>